<div class="login-container">
  <form #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate>
    <h2>Inicio Sección</h2>

    <div class="inputGroup">
      <label for="username">Usuario</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        placeholder="Ingrese su usuario"
        required
        #usernameField="ngModel"
      />
      <div
        class="errorMessage"
        *ngIf="usernameField.invalid && usernameField.touched"
      >
        El campo usuario es obligatorio.
      </div>
    </div>

    <div class="inputGroup">
      <label for="password">Clave</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Ingrese su clave"
        required
        #passwordField="ngModel"
      />
      <div
        class="errorMessage"
        *ngIf="passwordField.invalid && passwordField.touched"
      >
        El campo clave es obligatorio.
      </div>
    </div>

    <button type="submit" class="login-button" [disabled]="loginForm.invalid">
      Acceder
    </button>


    <div class="register-link">
      <button type="button" (click)="navigateToRegister()">Regístrate aquí</button>    
    </div>
  </form>
</div>
